---
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'
---

<header>
  <div class="fb items-center">
    <Logo />
    <Themetoggle />
  </div>
  <div class="fi mt-2">
    <span class="gpt-title">大数据中心</span>
    <span class="gpt-subtitle">Gemini Pro</span>
  </div>
  <p mt-1 op-60>
    <span>使用过程中遇到问题，请与</span>
    <span class="font-bold">大数据中心</span>
    <span>联系</span>

  </p>
</header>
